.contents__play-container {
  display: flex;
  justify-content: center;
  background: #1f375d;
  border-radius: 5px;
  color: #f5f6fa;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.contents__play-title {
  display: none;
}

.contents__play-score {
  margin: 30px auto 30px auto;
  text-align: center;
  font-size: 14px;
}

.contents__play-score .team-name {
  border: 3px solid #ce3d47;
  width: 90px;
  font-weight: 500;
  color: white;
}

.contents__play-score .score-list {
  border: none;
  width: 70px;
  height: 27px;
  line-height: 27px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.contents__play-score .round-score {
  border: 3px solid #ce3d47;
  width: 70px;
  height: 27px;
  line-height: 27px;
}

.contents__play-score .score {
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.contents__play-comment {
  width: 500px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 30px auto;
  text-align: center;
  border-radius: 7px;
  font-weight: 500;
  background: #292f38;
}

.contents__play-lineup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* #ce3d47 */
.play__team-table {
  border: 1px solid #f5f6fa;
  text-align: center;
  font-size: 14px;
  background: #272727;
}

.play__team-table .play__player-number {
  border: 1px solid #f5f6fa;
  width: 42px;
  height: 27px;
  line-height: 27px;
  text-align: center;
}

.play__team-table .play__player-name {
  border: 1px solid #f5f6fa;
  width: 70px;
  height: 27px;
  line-height: 27px;
  text-align: center;
}

.play__team-table .play__accumulated-stat {
  border: 1px solid #f5f6fa;
  width: 42px;
  height: 27px;
  line-height: 27px;
  text-align: center;
}

.play__team-table .play__accumulated-count {
  border: 1px solid #f5f6fa;
  width: 42px;
  height: 27px;
  line-height: 27px;
  text-align: center;
}

.contents__play-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contents__play-judgement {
  width: 120px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background: #111727;
}

.contents__play-player {
  display: block;
  width: 150px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  text-align: center;
  border: 3px solid #585b62;
  border-radius: 5px;
}

.contents__play-stat {
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
}

.contents__play-stat .stat-name {
  border: 3px solid #f5f6fa;
  width: 65px;
  height: 26px;
  line-height: 26px;
  font-weight: 500;
}

.contents__play-stat .stat-count {
  border: 3px solid #f5f6fa;
  width: 65px;
  height: 26px;
  line-height: 26px;
}

.contents__play-btn {
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #bf3437;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.contents__play-skip {
  width: 250px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contents__play-skip .play-skip__input {
  margin-bottom: 10px;
  width: 100px;
  height: 17px;
  text-align: center;
  border: 1px solid gray;
  opacity: 0.7;
}

.contents__play-skip .play-skip__btn {
  border: none;
  width: 70px;
  height: 30px;
  font-size: 12px;
  background: #fbc531;
}
